<!-- HOME-MENU -->
<div *ngIf="viewState == 'default'">
  <div class="homeBox">
    <output class="ausgabe"><p class="textLern">Lernmodus</p></output>
      <button class="lernButton" (click)="changeMode('Lernmodus')">Starten</button><br>
      <button class="lernButton" (click)="changeMode('Fragenliste')">Fragenliste</button><br>
      <button class="lernButton" routerLink="../home">Home</button>
  </div>
</div>
<!-- ENDE -->

<!-- LERN-MENU -->
<div *ngIf="viewState == 'Lernmodus'">
  <div class="homeBox">
    <output class="ausgabe"><p class="textLern">Lernmodus</p></output>
      <button class="lernButton" (click)="changeMode('Multiple Choice')">Multiple Choice</button><br>
      <button class="lernButton" (click)="changeMode('Single Choice')">Single Choice</button><br>
      <button class="lernButton" (click)="changeMode('Fill-In')">Fill-In</button><br>
      <button class="lernButton" (click)="changeMode('Alle Fragen')">Alle Fragen</button><br>
      <button class="lernButton" (click)="changeMode('default')">Abbrechen</button>
  </div>
</div>
<!-- ENDE -->

<!-- FRAGENLISTE -->
<div *ngIf="viewState == 'Fragenliste'">
  <div *ngFor="let ele of this.allQuest">
    <div *ngFor="let mc of ele[1].txt"></div>
      <p>{{ mc }}</p>
  </div>
  <div>
    <button (click)="pushAll()">submit</button>
  </div>
</div>

<!-- ENDE -->


<!-- Statistics -->
<div *ngIf="viewState == 'Statistik'">
  <output class="ausgabe"><p class="textLern">Lernmodus</p></output>
    <div *ngIf="this.multi == true"><h2>Multiple-Choice results:</h2>
      <h3 [ngStyle]="{'color':'green'}">
        {{ this.currentArrayId+1 }} of {{ mcFragen.length }} correct!<br> {{ this.mcProzent }} % </h3><br></div><br>
    <div *ngIf="this.single == true"><h2>Single-Choice:</h2>
      <h3  [ngStyle]="{'color':'green'}">
        {{ this.currentArrayId+1 }} of {{ scFragen.length }} correct!<br> {{ this.scProzent }} %</h3><br></div><br>
    <div *ngIf="this.fill == true"><h2>Fill-In:</h2>
      <h3  [ngStyle]="{'color':'green'}">
        {{ this.currentArrayId+1 }} of {{ fillFragen.length }} correct!<br> {{ this.fillProzent }} %</h3><br></div><br>
    <!-- <div><h2>All Questions:</h2>
      <h3 [ngStyle]="{'color':'green'}">Werte</h3><br></div><br> -->
    <button class="statistics" (click)="changeMode('default'); reload()">Zurück</button>
</div>
<!-- ENDE -->

<!-- MULTIPLE CHOICE -->
<div *ngIf="viewState == 'Multiple Choice'">
  <div>
    {{ viewState }}
    <p>{{currentArrayId+1}} of {{ mcFragen.length }}</p>
    <div class="header">
      <output>{{ mcQuest.txt }}</output>
      <div class="check">
        <div *ngFor="let answer of mcQuest.ans">
          <!-- Checked if else Anweisung über Angular -->
           <!-- Falls Antworten nicht angeklickt, dann hier -->
          <div *ngIf="!answer.choosen; else elseblock">
            <input name="{{ answer }}" type="checkbox" (change)="toggleChoosen(answer); calc(answer)">{{ answer.txt }}
          </div>
          <!-- Falls Antworten angeklickt wurden, dann ersetzt der Template-Block den Input im darüberliegenden Div -->
          <ng-template #elseblock>
            <input name="{{ answer }}" type="checkbox" checked (change)="toggleChoosen(answer)">{{ answer.txt }}
          </ng-template>
        </div>
      </div>
    </div>
  </div>
  <!-- Button- und Funktionsbereich von Multiple-Choice -->
  <div class="contentButton">
      <tr>
        <th>
          <button *ngIf="back == true"  (click)="prevFrage()">Zurück</button>
          <button (click)="infoText()">Info</button>
        </th>
        <th>
          <button (click)="exit()">Abbrechen</button>
          <button *ngIf="!targetReached" (click)="mcAnswersCheck()">Weiter</button>
          <button *ngIf="targetReached" (click)="mcAnswersCheck(); changeMode('Statistik')">Auswerten</button>
        </th>
      </tr>
  </div>
  <div class="solution" *ngIf="info">
    {{ mcQuest.info }}
  </div>
</div>
<!-- ENDE -->

<!-- SINGLE CHOICE -->
<div *ngIf="viewState == 'Single Choice'">
  <div>
    {{ viewState }}
    <p>{{currentArrayId+1}} of {{ scFragen.length }}</p>
    <div class="header">
      <output>{{ scQuest.txt }}</output>
      <div class="check">
        <div *ngFor="let answer of scQuest.ans">
          <div>
            <input name="{{ answer }}" type="radio"  (change)="checkRadio(answer); calc(answer)">{{ answer.txt }}
          </div>
          <!-- Falls Antworten angeklickt wurden, dann ersetzt der Template-Block den Input im darüberliegenden Div -->
          <!-- <ng-template #elseblock>
            <input name="{{ answer }}" type="checkbox" [checked]="answer.right" (change)="toggleChoosen(answer)">{{ answer.txt }}
          </ng-template> -->
        </div>
      </div>
    </div>
  </div>
  <!-- Button- und Funktionsbereich von Single Choice -->
  <div class="contentButton">
      <tr>
        <th>
          <button *ngIf="back == true"  (click)="prevFrage()">Zurück</button>
          <button (click)="infoText()">Info</button>
        </th>
        <th>
          <button (click)="exit()">Abbrechen</button>
          <button *ngIf="!targetReached" (click)="scAnswersCheck()">Weiter</button>
          <button *ngIf="targetReached" (click)="scAnswersCheck(); changeMode('Statistik')">Auswerten</button>
        </th>
      </tr>
  </div>
  <div class="solution" *ngIf="info">
    {{ scQuest.info }}
  </div>
</div>
<!-- ENDE -->

<!-- fill-in Fragen -->
<div *ngIf="viewState == 'Fill-In'">
  <div>
    {{ viewState }}
    <p>{{currentArrayId+1}} of {{ fillFragen.length }}</p>
    <div class="header">
      <output>{{ fillQuest.txt }}</output>
      <div class="check">
        <div>
          <div>
            <input type="text" #box (change)="calc()"  placeholder="Answer">
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Button- und Funktionsbereich von Single Choice -->
  <div class="contentButton">
      <tr>
        <th>
          <button *ngIf="back == true"  (click)="prevFrage()">Zurück</button>
          <button (click)="infoText()">Info</button>
        </th>
        <th>
          <button (click)="exit()">Abbrechen</button>
          <button *ngIf="!targetReached" (click)="fillAnswerCheck(box.value)">Weiter</button>
          <button *ngIf="targetReached" (click)="fillAnswerCheck(box.value); changeMode('Statistik')">Auswerten</button>
        </th>
      </tr>
  </div>
  <div class="solution" *ngIf="info">
    {{ fillQuest.info }}
  </div>
</div>
<!-- ENDE -->
