
.homeBox {
  border-style: solid;
  border-width: 2px;
  background-color: grey;
  border-color: black;
  text-align: center;
  display: inline-table;
  width: auto;
  height: auto;
  margin-left: 30%;
  margin-right: 30%;
}
