<!-- HOME-MENU -->
<div *ngIf="viewState == 'default'">
  <div class="homeBox">
    <output class="ausgabe">
      <p class="textLern">Prüfmodus</p>
    </output>
    <button class="lernButton" (click)="changeMode('Prüfmodus')">Starten</button><br>
    <button class="lernButton" routerLink="../home">Home</button>
  </div>
</div>
<!-- ENDE -->

<!-- LERN-MENU -->
<div *ngIf="viewState == 'Prüfmodus'">
  <div class="homeBox">
    <output class="ausgabe">
      <p class="textLern">Prüfmodus</p>
    </output>
    <button class="lernButton" (click)="changeMode('Multiple Choice')">Multiple Choice</button><br>
    <button class="lernButton" (click)="changeMode('Single Choice')">Single Choice</button><br>
    <button class="lernButton" (click)="changeMode('Fill-In')">Fill-In</button><br>
    <button class="lernButton" (click)="changeMode('Alle Fragen'); pushAll()">Alle Fragen</button><br>
    <button class="lernButton" (click)="changeMode('default')">Abbrechen</button>
  </div>
</div>
<!-- ENDE -->

<!-- Statistics -->
<div *ngIf="viewState == 'Statistik'">
  <output class="ausgabe">
    <p class="textLern">Testmodus</p>
  </output>
  <div *ngIf="this.multi == true">
    <h2>Multiple-Choice results:</h2>
    <h3 [ngStyle]="{'color':'green'}">
      {{ this.totalTrue }} of {{ mcFragen.length }} correct!<br> {{ this.trueProzent }} %</h3><br>
      <h3 *ngIf="this.falseProzent > 20" [ngStyle]="{'color':'green'}">
        {{ this.totalFalse }} of {{ mcFragen.length }} wrong!<br> {{ this.falseProzent }} %</h3><br>
      <h3 *ngIf="this.falseProzent <= 20" [ngStyle]="{'color':'red'}">
        {{ this.totalFalse }} of {{ mcFragen.length }} wrong!<br> {{ this.falseProzent }} %</h3><br>
        <h3 [ngStyle]="{'color':'green'}">
          {{ this.totalSkip }} of {{ mcFragen.length }} skipped!<br> {{ this.skipProzent }} %</h3><br>
  </div><br>
  <div *ngIf="this.single == true">
    <h2>Single-Choice:</h2>
      <h3 [ngStyle]="{'color':'green'}">
        {{ this.totalTrue }} of {{ scFragen.length }} correct!<br> {{ this.trueProzent }} %</h3><br>
        <h3 *ngIf="this.falseProzent > 20" [ngStyle]="{'color':'green'}">
          {{ this.totalFalse }} of {{ scFragen.length }} wrong!<br> {{ this.falseProzent }} %</h3><br>
        <h3 *ngIf="this.falseProzent <= 20" [ngStyle]="{'color':'red'}">
          {{ this.totalFalse }} of {{ scFragen.length }} wrong!<br> {{ this.falseProzent }} %</h3><br>
          <h3 [ngStyle]="{'color':'green'}">
            {{ this.totalSkip }} of {{ scFragen.length }} skipped!<br> {{ this.skipProzent }} %</h3><br>
  </div><br>
  <div *ngIf="this.fill == true">
    <h2>Fill-In:</h2>
      <h3 [ngStyle]="{'color':'green'}">
        {{ this.totalTrue }} of {{ fillFragen.length }} correct!<br> {{ this.trueProzent }} %</h3><br>
        <h3 *ngIf="this.falseProzent > 20" [ngStyle]="{'color':'green'}">
          {{ this.totalFalse }} of {{ fillFragen.length }} wrong!<br> {{ this.falseProzent }} %</h3><br>
        <h3 *ngIf="this.falseProzent <= 20" [ngStyle]="{'color':'red'}">
          {{ this.totalFalse }} of {{ fillFragen.length }} wrong!<br> {{ this.falseProzent }} %</h3><br>
          <h3 [ngStyle]="{'color':'green'}">
            {{ this.totalSkip }} of {{ fillFragen.length }} skipped!<br> {{ this.skipProzent }} %</h3><br>
  </div><br>
  <div *ngIf="this.all == true">
    <h2>All Questions:</h2>
    <h3 [ngStyle]="{'color':'green'}">
      {{ this.totalTrue }} of {{ allQuest.length }} correct!<br> {{ this.trueProzent }} %</h3><br>
      <h3 *ngIf="this.falseProzent > 20" [ngStyle]="{'color':'green'}">
        {{ this.totalFalse }} of {{ allQuest.length }} wrong!<br> {{ this.falseProzent }} %</h3><br>
      <h3 *ngIf="this.falseProzent <= 20" [ngStyle]="{'color':'red'}">
        {{ this.totalFalse }} of {{ allQuest.length }} wrong!<br> {{ this.falseProzent }} %</h3><br>
    </div><br>
  <button class="statistics" (click)="changeMode('default'); reload()">Zurück</button>
</div>
<!-- ENDE -->

<!-- MULTIPLE CHOICE -->
<div *ngIf="viewState == 'Multiple Choice'">
  <div>
    {{ viewState }}
    <p>{{currentArrayId+1}} of {{ mcFragen.length }}</p>
    <div class="header">
      <output>{{ mcQuest.txt }}</output>
      <div class="check">
        <div *ngFor="let answer of mcQuest.ans">
          <!-- Checked if else Anweisung über Angular -->
          <!-- Falls Antworten nicht angeklickt, dann hier -->
          <div *ngIf="!answer.choosen; else elseblock">
            <input name="{{ answer }}" type="checkbox" (change)="toggleChoosen(answer)">{{ answer.txt }}
          </div>
          <!-- Falls Antworten angeklickt wurden, dann ersetzt der Template-Block den Input im darüberliegenden Div -->
          <ng-template #elseblock>
            <input name="{{ answer }}" type="checkbox" checked (change)="toggleChoosen(answer)">{{ answer.txt }}
          </ng-template>
        </div>
      </div>
    </div>
  </div>
  <!-- Button- und Funktionsbereich von Multiple-Choice -->
  <div class="contentButton">
    <tr>
      <th>
        <button *ngIf="back == true" (click)="prevFrage()">Zurück</button>
        <button (click)="infoText()">Info</button>
      </th>
      <th>
        <button (click)="exit()">Abbrechen</button>
        <button *ngIf="!targetReached" (click)="mcAnswersCheck(); youFailed()">Weiter</button>
        <button *ngIf="targetReached" (click)="mcAnswersCheck(); results(); calc(); changeMode('Statistik')">Auswerten</button>
      </th>
    </tr>
  </div>
  <div class="solution" *ngIf="info">
    {{ mcQuest.info }}
  </div>
</div>
<!-- ENDE -->

<!-- SINGLE CHOICE -->
<div *ngIf="viewState == 'Single Choice'">
  <div>
    {{ viewState }}
    <p>{{currentArrayId+1}} of {{ scFragen.length }}</p>
    <div class="header">
      <output>{{ scQuest.txt }}</output>
      <div class="check">
        <div *ngFor="let answer of scQuest.ans">
          <div>
            <input name="{{ answer }}" type="radio" (change)="checkRadio(answer)">{{ answer.txt }}
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Button- und Funktionsbereich von Single Choice -->
  <div class="contentButton">
    <tr>
      <th>
        <button *ngIf="back == true" (click)="prevFrage()">Zurück</button>
        <button (click)="infoText()">Info</button>
      </th>
      <th>
        <button (click)="exit()">Abbrechen</button>
        <button *ngIf="!targetReached" (click)="scAnswersCheck(); youFailed()">Weiter</button>
        <button *ngIf="targetReached" (click)="scAnswersCheck(); results(); calc(); changeMode('Statistik')">Auswerten</button>
      </th>
    </tr>
  </div>
  <div class="solution" *ngIf="info">
    {{ scQuest.info }}
  </div>
</div>
<!-- ENDE -->

<!-- FILL-IN Fragen -->
<div *ngIf="viewState == 'Fill-In'">
  <div>
    {{ viewState }}
    <p>{{currentArrayId+1}} of {{ fillFragen.length }}</p>
    <div class="header">
      <output>{{ fillQuest.txt }}</output>
      <div class="check">
        <div>
          <div>
            <input type="text" #box  placeholder="Answer">
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Button- und Funktionsbereich von Fill-In -->
  <div class="contentButton">
    <tr>
      <th>
        <button *ngIf="back == true" (click)="prevFrage()">Zurück</button>
        <button (click)="infoText()">Info</button>
      </th>
      <th>
        <button (click)="exit()">Abbrechen</button>
        <button *ngIf="!targetReached" (click)="fillAnswerCheck(box.value); youFailed()">Weiter</button>
        <button *ngIf="targetReached" (click)="fillAnswerCheck(box.value); results(); calc(); changeMode('Statistik')">Auswerten</button>
      </th>
    </tr>
  </div>
  <div class="solution" *ngIf="info">
    {{ fillQuest.info }}
  </div>
</div>
<!-- ENDE -->

<!-- Alle Fragen -->
<!-- mc -->
<div *ngIf="viewState == 'Alle Fragen'">
  <div *ngIf="allQuest[currentArrayId].art != 'fill'">

    <div *ngIf="allQuest[currentArrayId].art == 'mc'">
      {{ viewState }}
      <p>{{currentArrayId+1}} of {{ allQuest.length }}</p>
      <div class="header">
        <output>{{ allQuest[currentArrayId].txt }}</output>
        <div class="check">
          <div *ngFor="let answer of allQuest[currentArrayId].ans">
            <!-- Checked if else Anweisung über Angular -->
            <!-- Falls Antworten nicht angeklickt, dann hier -->
            <div *ngIf="!answer.choosen; else elseblock">
              <input name="{{ answer }}" type="checkbox" (change)="toggleChoosen(answer)">{{ answer.txt }}
            </div>
            <!-- Falls Antworten angeklickt wurden, dann ersetzt der Template-Block den Input im darüberliegenden Div -->
            <ng-template #elseblock>
              <input name="{{ answer }}" type="checkbox" checked (change)="toggleChoosen(answer)">{{ answer.txt }}
            </ng-template>
          </div>
        </div>
      </div>
    </div>
    <!-- sc -->
    <!-- <div *ngIf="viewState == 'Alle Fragen'"> -->
    <div *ngIf="allQuest[currentArrayId].art == 'sc'">
      {{ viewState }}
      <p>{{currentArrayId+1}} of {{ allQuest.length }}</p>
      <div class="header">
        <output>{{ allQuest[currentArrayId].txt }}</output>
        <div class="check">
          <div *ngFor="let answer of allQuest[currentArrayId].ans">
            <div>
              <input name="{{ answer }}" type="radio" (change)="checkRadio(answer)">{{ answer.txt }}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="contentButton">
      <tr>
        <th>
          <button *ngIf="back == true" (click)="prevFrage()">Zurück</button>
          <button (click)="infoText()">Info</button>
        </th>
        <th>
          <button (click)="exit()">Abbrechen</button>
          <button *ngIf="!targetReached && allQuest[currentArrayId].art != 'fill'"
            (click)="allAnswersCheck(); youFailed()">Weiter</button>
          <button *ngIf="targetReached && allQuest[currentArrayId].art != 'fill'"
            (click)="allAnswersCheck(); results(); calc(); changeMode('Statistik')">Auswerten</button>
        </th>
      </tr>
    </div>

  </div>
  <!-- </div> -->
  <!-- fill-->
  <!-- <div *ngIf="viewState == 'Alle Fragen'"> -->
  <div *ngIf="allQuest[currentArrayId].art == 'fill'">
    {{ viewState }}
    <p>{{currentArrayId+1}} of {{ allQuest.length }}</p>
    <div class="header">
      <output>{{ allQuest[currentArrayId].txt }}</output>
      <div class="check">
        <div>
          <div>
            <input type="text" #box  placeholder="Answer">
          </div>
        </div>
      </div>
    </div>
    <!-- Button- und Funktionsbereich von Alle Fragen -->
    <div class="contentButton">
      <tr>
        <th>
          <button *ngIf="back == true" (click)="prevFrage()">Zurück</button>
          <button (click)="infoText()">Info</button>
        </th>
        <th>
          <button (click)="exit()">Abbrechen</button>
          <button *ngIf="!targetReached && allQuest[currentArrayId].art == 'fill'"
            (click)="allAnswersCheck(box.value); youFailed()">Weiter</button>
          <button *ngIf="targetReached && allQuest[currentArrayId].art == 'fill'"
            (click)="allAnswersCheck(box.value); results(); calc(); changeMode('Statistik')">Auswerten</button>
        </th>
      </tr>
    </div>
  </div>
  <div class="solution" *ngIf="info">
    {{ this.allQuest[currentArrayId].info }}
  </div>
  <!-- </div> -->
</div>
<!-- ENDE -->
