<div>
  <!-- einzelfrage anzeigen -->
  <div *ngIf="showEinzel">
    <div class="header">
      <output>{{ frage.txt }}</output>
      <div class="check">
        <div *ngFor="let answer of frage.ans">
          <input name="{{ answer }}" type="checkbox" (change)="toggleChoosen(answer)">{{ answer.txt }}
        </div>
        <button (click)="CheckAnswers()">submit</button>
      </div>
    </div>
  </div>

<div class="contentButton">
    <tr>
      <th >
        <button (click)="prevFrage()">Zurück</button>
        <button (click)="infoText()">Info</button>
      </th>
      <th>
          <button routerLink="../lernen">Abbrechen</button>
          <button (click)="nextFrage()">Weiter</button>
      </th>
    </tr>
</div>
<div class="solution" *ngIf="info">
  {{ frage.info }}
</div>




  <!-- liste anzeigen -->
  <!-- <div *ngIf="!showEinzel">
    <div *ngFor="let question of mcFragen" class="header">
      <output>{{ question.mcFrage }}</output>
      <div class="check">
        <div *ngFor="let answer of question.mcAntwort">
          <input class="inputCheck" type="checkbox">{{ answer }}
        </div>
      </div>
    </div>
  </div>
</div> -->
